scripts/
backups/
article/
patches/

node_modules/
pdf/cielo-lector.html
pdf/lector-del-cielo_EN.html.bak-pre-raziel
pdf/lector-del-cielo.html
pdf/lector-del-cielo.pdf
pdf/lector-del-cielo_extracted.txt
pdf/'lector-del-cielo_EN (Copy 2).pdf'
pdf/'lector-del-cielo_EN (Copy).pdf'
pdf/lector-del-cielo_EN.html
mount-figs.mjs
mount-tabs.mjs
